/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}
/* Other existing styles */

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  /* Background color to ensure readability */
  padding-bottom: 10px;
  /* Padding for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Optional shadow for visual separation */
  z-index: 1000;
  /* Ensures it's above other content */
  box-sizing: border-box;
  /* Includes padding and border in element's total width and height */
}

.search-container {
  display:flex;
  justify-content: center;
  /* margin-top: 60px; */
  /* Space for the heading */
  width: 100%;
  /* Ensure container takes full width */
  box-sizing: border-box;
  /* Includes padding and border in element's total width and height */
}

.search-bar {
  width: 100%;
  /* Make the search bar take full width of its container */
  max-width: 600px;
  /* Optional: Set a max-width for larger screens */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* Includes padding and border in element's total width and height */
  margin: 0 auto;
  /* Center the search bar in its container */
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .search-bar {
    padding: 8px;
    /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .search-bar {
    padding: 6px;
    /* Further adjust padding for very small screens */
  }
}

.card-container {
  display: flex;
  margin-top: 120px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.card .flag {
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card .coat-of-arms {
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto 15px auto;
  display: block;
}

.card h2 {
  font-size: 18px;
  color: #009879;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #555;
  margin: 5px 0;
}

a {
  color: #007BFF;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}