/* App.css */

body {
  font-family: Arial, sans-serif;
  /* background-color: #f4f4f4; */
  background-color: black;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  /* color: #333; */
  color: #fff;
  margin-bottom: 20px;
}

/* Other existing styles */

section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: black;
  padding-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  box-sizing: border-box;
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.search-bar {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #333;
  color: #ddd;
  margin: 0 auto;
  font-weight: 700;
}


/* Media query for smaller screens */
@media (max-width: 768px) {
  .search-bar {
    padding: 8px;
    margin-inline: 10px;

    /* Adjust padding for smaller screens */
  }
}

/* Media query for smaller screens */
@media (max-width: 660px) {
  .search-bar {
    max-width: 300px;
    /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .search-bar {
    padding: 6px;
    max-width: 300px;
    /* Further adjust padding for very small screens */
  }
}

.card-container {
  display: flex;
  margin-top: 120px;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  /* background-color: #fff; */
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 15px;
  object-fit: cover;
  aspect-ratio: 16/9;
}

.card .flag {
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* .card .coat-of-arms {
  max-width: 80px;
  max-height: 80px;
  margin: 0 auto 15px auto;
  display: block;
} */

.card h2 {
  font-size: 18px;
  color: #009879;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  /* color: #555; */
  color: #fff;
  margin: 5px 0;
}